@media screen and (max-width: 760px) {
    .cart {
        justify-content: center;
        &__header {
            padding: 10px;
            text-align: center;
            font-size: 200%;
        }
        &__basket-summary {
            flex-basis: 100%;
            order: 0;
            max-width: 600px;
        }
        &__content {
            flex-basis: 100%;
        }
        &__product {
            padding: 5px;
            height: 100px;
        }
        &__img-container {
            width: 110px;
            height: 90px;
        }
        &__name {
            word-wrap: break-word;
            width: 25%;
            overflow: hidden;
        }
        &__info {
            width: 15%;
        }
        &__summary-button {
            margin-top: 5px;
        }
    }
}