@media screen and (max-width: 760px) {
    .page {
        &__categories {
            width: 95%;
        }
        &__payment {
            width: 95%;
        }
        &__contacts {
            width: 95%;
        }
        &__cart {
            width: 95%;
        }
        &__bread-crumbs {
            width: 95%;
        }
        &__product {
            width: 95%;
        }
        &__page {
            width: 95%;
        }
    }
}