.navigation-top {
    width: 100%;
    min-height: 50px;
    background: $color-main;
    background-image: linear-gradient(to bottom, $color-main 0, $color-main-grad 100%);
    &__content {
        width: 80%;
        margin: auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__search-img {
        width: 20px;
        height: 20px;
        position: relative;
        left: -22px;
        top: 5px;
    }
    &__logo-img {
        width: 60px;
        height: 50px;
        margin-right: 5px;
    }
    &__logo {
        display: flex;
        align-items: center;
        color: $color-action;
        text-decoration: none;
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 200%;
        font-weight: 800;
    }
    &__panel {
        display: flex;
        align-items: center;
    }
    &__panel {
        display: flex;
        align-items: center;
    }
    &__search{
        position: relative;
    }
    &__search-input{
        width: 200px;
    }
    &__search-result{
        display: none;
        position: absolute;
        top: 30px;
        right: 20px;
        width: 200px;
        min-height: 40px;
        z-index: 1000;
        background: white;
        font-size: 85%;
        border: 1px solid $color-main;

        line-height: 1.1;

        &--visible{
            display: inline-block;
        }

        &-item{
            overflow: hidden;
            max-height: 50px;
            padding:5px 3px;
            cursor: pointer;
            transition: all .3s;
            vertical-align: middle;

            &--text-center{
                text-align: center;
            }

            &:hover{
                background: $color-main;
            }
        }

        &-img{
            height:40px;
            width:40px;
            float:left;
            margin-right: 3px;
        }
        &-link{
            display: inline-block;
            width:100%;
            height: 100%;
            text-decoration: none;
            color:black;
        }
    }
    &__icon {
        margin-left: 10px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        cursor: pointer;
        &--profile {
            background: url(img/icons/profile.png);
            background-size: 100% 100%;
        }
        &--cart {
            background: url(img/icons/cart.png);
            background-size: 100% 100%;
        }
    }
}